.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc; /* Color de fondo del Avatar */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño del texto de las iniciales */
    color: #333; /* Color del texto de las iniciales */
  }
  
  .iniciales {
    text-transform: uppercase;
  }